{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}


{% block body %}
    <h1>Toutes les catégories : </h1>

    {% for category in categories %}
        <div>
            <h2>{{ category.id }} / {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.Name }) }}">Voir les séries de cette catégorie</a>
        </div>
    {% else %}

        Aucune catégories trouvée.

    {% endfor %}
    <div>
    <a href="{{ path('new_category') }}">Ajouter une catégorie</a>
    </div>
    <div>
    <a href="{{ path('program_index') }}">Retour à l'accueil</a>
    </div>

{% endblock %}