{% extends "base.html.twig" %}

{% block title %}Catégorie {{ categoryName }}{% endblock %}

{% block body %}

    <h1> {{ categoryName }} </h1>

{% for program in programs %}
    <div> 
        <img src="{{ program.poster }}"> 
        <p>{{ program.id }}</p> 
        <p>{{ program.title }}</p> 
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { program: program.id }) }}">Voir la fiche</a>
    </div>
    {% else %}

        Aucune série trouvée.

{% endfor %}

    <a href="{{ path('program_index') }}"> Retour à la liste des programmes</a>

{% endblock %}