{% extends "base.html.twig" %}

{% block title %}Catégorie {{ categoryName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/program/index.css">
{% endblock %}

{% block body %}

    <h1> {{ categoryName }} </h1>

    <div>
        <button class="btn"><a href="{{ path('program_index') }}"> Voir toutes les séries</a></button>
        {% if app.user and is_granted("ROLE_ADMIN") %}
        <button class="btn"><a href="{{ path('new_program') }}">Ajouter une série</a></button>
        {% endif %}
    </div>
    <div class="container">
        <h1>Les séries </h1>
        <div class="tousLesPrograms">
            {% for program in programs %}
            <div class="program">
                <div class="photoInfo">
                    <div class="photo">
                        <img src="{{program.poster}}">
                    </div>
                    <div class="titre">
                        <a href="{{ path("program_show", { slug: program.slug }) }}"><span>{{program.title}}</span></a>
                    </div>
                    <div class="infos">
                        <div class="titreGenre">
                            <p class="genre"><a href="{{ path("category_show", { categoryName: program.category.name }) }}">{{program.category.name}}</a></p>
                            <p>Nombre de saisons: {{program.nbSeasons}}</p>
                            <p>Année de sortie: {{program.anneesortie}}</p>
                        </div>                  
                        <div class="actors">
                            <p>Acteurs:
                            {% for actor in program.actors %}
                                <li><a href="{{ path('actor_show', {'id': actor.id}) }}">{{ actor.firstname }}</a>
                                <a href="{{ path('actor_show', {'id': actor.id}) }}">{{ actor.lastname }}</a></li>
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {# <div class="resume">
                    <p>{{program.summary}}</p>
                </div> #}
                {# <a href="{{ path("program_show", { 'slug': program.slug }) }}">Voir la fiche</a> #}
                <div>
                {% if is_granted("ROLE_ADMIN") %}
                    <button class="btn-Secondary"><a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a></button>
                {% endif %}
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
        </div>
    </div>   

{# {% for program in programs %}
    <div> 
        <img src="{{ program.poster }}"> 
        <p>{{ program.id }}</p> 
        <p>{{ program.title }}</p> 
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
    </div>
    {% else %}

        Aucune série trouvée.

{% endfor %}

    <a href="{{ path('program_index') }}"> Retour à la liste des programmes</a> #}

{% endblock %}