{% extends 'layoutEmail.html.twig' %}

{% block title %} Nouvel Episode {% endblock %}

{% block body %}

    <h1>Un nouvel épisode de la série {{ episode.season.program.title }} vient d'être ajouté</h1>
    <p>Hello, l'épisode numéro {{ episode.number }}: {{ episode.title }} de la série {{ episode.season.program.title }} vient d'être ajouté sur Wild Séries</p>
    <p>Résumé: {{ episode.summary }}</p>
    <a href="{{ path("program_episode_show", { program: episode.season.program.id, season: episode.season.id, episode: episode.id}) }}">liste des épisodes déjà ajoutés pour {{ episode.season.program.title }}</a>

{% endblock %}


