{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/pageAccueil.css">
{% endblock %}

{% block body %}
<div id ="containerLiens">
    <div id = "lienSeries">
        <p><a href="{{ path("program_index")}}"> Toutes les séries</a></p> 
    </div>
    <div id ="lienGenres">
        <p><a href="{{ path("category_index")}}">Tous les genres</a></p>
    </div>
</div>

<div id = "containerPageAccueil">
    <div class ="derniersAjouts">Derniers ajouts</div>
        <div id ="tousLesprograms">
            {% for program in program %}
                <div class ="program">
                    <div class = "photoInfo">
                        <div class = "photo">
                            <img src="{{ program.poster}}">
                        </div>
                        <div class = "infos">
                            <a href="{{ path("program_show", { slug: program.slug }) }}"><span>{{program.title}}</span></a>
                            <p class="genre"><a href="{{ path("category_show", { categoryName: program.category.name }) }}">{{program.category.name}}</a></p>
                            <p>Nombre de saisons: {{program.nbSeasons}}</p>
                            <p>Année de sortie: {{program.anneesortie}}</p>
                        </div>
                    </div>
                    <div class = "resume">
                    <p>{{program.summary}}</p>
                    </div>
                    <div class="boutonsEditerSupprimer">
                    {% if is_granted("ROLE_ADMIN") %}
                        <button class="btn-Secondary"><a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a></button>
                        {{ include('program/_delete_form.html.twig') }}
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}