{{ form_start(form) }}
    <div class="container">
        <div class="infos">
            <div class="label">
                {{ form_label(form.number) }}
            </div>
            <div>
                {{ form_widget(form.number, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.number) }}
            </div>
            <div class="label">
                {{ form_label(form.name) }}
            </div>
            <div>
                {{ form_widget(form.name, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
            <div class="label">
                {{ form_label(form.year) }}
            </div>
            <div>
                {{ form_widget(form.year, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.year) }}
            </div>
            <div class="label">
                {{ form_label(form.description) }}
            </div>
            <div>
                {{ form_widget(form.description, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
            <div class="label">
                {{ form_label(form.program) }}
            </div>
            <div>
                {{ form_widget(form.program, {'attr': {'class': 'inputNom'}}) }} 
            </div>
            <div class="form-error">
                {{ form_errors(form.program) }}
            </div>
        </div>
        <button class="btn-Secondary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
