{% extends 'base.html.twig' %}


{% block title %}All programs{% endblock %}


{% block body %}
    <h1>Toutes les séries: </h1>

    <div>
    <a href="{{ path('new_program') }}">Ajouter une série</a>
    </div>

    {% for program in programs %}
        <div>
            <img src="{{program.poster}}">
            <h2>{{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}

        Aucune série trouvée.

    {% endfor %}
    
    <div>
    <a href="{{ path('program_index') }}">Retour à l'accueil</a>
    </div>

{% endblock %}