{% extends "base.html.twig" %}

{% block title %}saison numéro {{episodes.1.season.number}}{% endblock %}

{% block body %}

    <div>
        <img src="{{episodes.1.season.program.poster}}">
        <p>{{episodes.1.season.program.title}}</p>
        <p>{{episodes.1.season.program.summary}}</p>
    </div>

    <div>
        <p>saison numéro:{{episodes.1.season.number}}</p>
        <p>Année de diffusion: {{episodes.1.season.year}}</p>
        <p>Nombre d'épisodes: {{episodes.1.season.numberofepisodes}}</p>
        <p>Description:{{episodes.1.season.description}}</p>
    </div>

    {% for episode in episodes %}
        <div>
            <a href="{{ path("program_episode_show", { program: episode.season.program.id, season: episode.season.id, episode: episode.id}) }}">episode {{episode.number}}: {{episode.title}} </a>
        </div>
    {% endfor %}

{% endblock %}