{% extends "base.html.twig" %}

{% block title %}{{program.title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/program/show.css">
{% endblock %}

{% block body %}
    <div class="options">
        <button class="btn"><a href="{{ path('program_index') }}"> Retour à la liste des séries</a></button>
        {% if app.user and is_granted("ROLE_ADMIN") %}
            <button class="btn"><a href="{{ path('season_new') }}">Ajouter une saison</a></button>
            <button class="btn"><a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Modifier la série</a></button>
            {{ include('program/_delete_form.html.twig') }}
        {% endif %}
    </div>
<div class="container">
    <div class="photoInfos">
        <div class="photo">
            <img src="{{program.poster}}">
        </div>
        <div class="infos">
            <div class="title">
                <h1>{{program.title }}</h1>
                 <div class="favoris">
                    <a href="{{ path('program_watchlist', {id: program.id})}}">
                        {{ app.user.isInWatchlist(program) ? '<i class="fa-solid fa-heart"></i>' : 'Ajouter à mes favoris' }}
                    </a>
                </div>
            </div>
            <div class="resumeSaisons">
                <div class="resume">
                    <p>{{program.summary}}</p>
                </div>
                <div class="saisons">
                    <p class="genre"><a href="{{ path("category_show", { categoryName: program.category.name }) }}">{{program.category.name}}</a></p>
                    <p class="annee">Année de sortie: {{program.anneesortie}}</p>
                    {% for season in seasons %}
                    <div>
                        <a href="{{ path("program_season_show", { programId: season.program.id, seasonId: season.id}) }}">Saison numéro:{{season.number}}</a>
                    </div>
                    {% else %}
                        <li>Aucune saison pour cette série</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="acteurs">
        <strong>Acteurs principaux:</strong>
        {% for actor in program.actors %}
        <div class="acteur">
            <a href="{{ path('actor_show', {'id': actor.id}) }}">{{ actor.firstname }} {{ actor.lastname }}</a>
        </div>
        {% else %}
            <p>Aucun acteur pour cette série</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
    
    {# <p><a href="{{ path("category_show", { categoryName: program.category.name }) }}">{{program.category.name}}</a></p>
    <p>Année de sortie: {{program.anneesortie}}</p>
    <p>{{program.summary}}</p>

        {% for season in seasons %}
            <div>
                <a href="{{ path("program_season_show", { programId: season.program.id, seasonId: season.id}) }}">Saison numéro:{{season.number}}</a>
            </div>
        {% else %}
            <li>Aucune saison pour cette série</li>
        {% endfor %}

        <strong>Acteurs principaux:</strong>
        <div>
        {% for actor in program.actors %}
            <a href="{{ path('actor_show', {'id': actor.id}) }}">{{ actor.firstname }}</a><a href="{{ path('actor_show', {'id': actor.id}) }}">{{ actor.lastname }}</a>
        </div>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
        <a href="{{ path('program_index') }}"> Retour à la liste des programmes</a> #}
