{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/acteur/show.css">
{% endblock %}

{% block body %}
    <div class="options">
        <button class="btn"><a href="{{ path('program_index') }}">Retour à la liste des séries</a></button>
        {% if app.user and is_granted("ROLE_ADMIN") %}
           <button class="btn"><a href="{{ path('actor_edit', {'id': actor.id}) }}">Modifier la fiche de l'acteur</a></button>
            {{ include('actor/_delete_form.html.twig') }}
        {% endif %}
    </div>

    <div class="container">
        <div class="photo">
            <img src="/assets/images/Keanu_Reeves.jpg">
        </div>
        <div class="identiteEtSeries">
            <div class="identite">
                <h1>{{ actor.firstname }} {{ actor.lastname }} </h1>
                <div class="dateNaissance">
                    <p>Date de naissance</p>
                    <p>{{ actor.BirthDate }}</p>
                </div>
            </div>
            <div class="series">
                <p class="principalesSeries"> Principales séries: </p>
                {% for program in actor.programs %}
                    <p><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a></p>
                {% else %}
                    <p>Aucun série pour cet acteur</p>
                {% endfor %}
            </div>
        </div>      
    </div>
{% endblock %}
