<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <script src="https://kit.fontawesome.com/ce1160e1b3.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" href="/assets/css/variables.css">
        <link rel="stylesheet" href="/assets/css/header.css">

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class ="header">
                <div class ="wildSeries">
                    <p><a id ="titreWildSeries" href="{{ path("accueil")}}">Wild Series</a></p>
                </div>
                {# <div class = "accueilRecherche"> #}
                    {# <div id ="rechercheContainer">
                        {{render(controller('App\\Controller\\BarreRechercheController::search'))}}

                        <form id="formBarreDeRecherche" action="" class="formulaire">
                            <button id ="iconeRechercher" class ="" type="submit"><i class="fas fa-search"></i></button>
                            <input id="inputRecherche" class="champ" type="text" placeholder="Rechercher"/>
                        </form> 
                    </div>#}
                {# </div> #}
                <div class = "menu">
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('new_program') }}">Ajouter une série</a>
                    <a href="{{ path('season_new') }}">Ajouter une saison</a>
                    <a href="{{ path('episode_new') }}">Ajouter un épisode</a>
                    <a href="{{ path('actor_new') }}">Ajouter un acteur</a>
                    {% endif %}
                    <p><a href="{{ path("accueil")}}">Accueil</a></p>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('login') }}"> Se connecter</a>
                    {% endif %}
                    {% if app.user %}
                    <a href="{{ path('compte') }}"> Mon compte</a>
                    {% else %}
                    <a href="{{ path('app_register') }}">Inscription</a>
                    {% endif %}
                </div>
            </div>
        </header>       
        {% block body %}{% endblock %}
    </body>
</html>
